SERVER_PEPPER=deadbeef00000000f5e044d7141751bba703ef17163b1324e2b85283313a924171109baa1e2669e68c73f19bbec041556e98c58ba76bc2cd204e4125b81379bd
OPAQUE_SERVER_SETUP=B64EncodedServerSetupStringHere

# PostgreSQL
DATABASE_URL=postgres://USERNAME:PASSWORD@localhost/postgres
POSTGRES_DB=postgres
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=PASSWORD

# Redis
REDIS_URL=redis://localhost:6379

JWT_SECRET_KEY=super-secret-change-me
